//search
.search-facets {
    li,ul{
        list-style-type: none;
    }
    details,summary{
        display: list-item;
    }
    h4{
        display:inline;
    }
    .apply-facets-top{
        padding-bottom: 5%;
    }
    .search-facet-items{
        overflow: auto;
        max-height: 150px;
    }
    label{
        display: contents;
    }
}

//browse preview 
.browse-preview {
    .card {
        margin-bottom: 0;
    }
}

//browse block
.browse-block {
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
        padding-top: 0%;
    }
}

//cards
.card:has(.card-body) {
    border-radius: 0;
}

.card-hover:hover{
    transform:translateY(-5px);
}

//text only block 
.text-only-block.section {
    padding-top: 0;
}